<launch>
  <arg name="joy_config" default="ps3" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />

  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="$(arg joy_dev)" />
    <param name="deadzone" value="0.1" />
    <param name="autorepeat_rate" value="20" />
  </node>

  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam>
      <!-- Parameters for Logitech Wireless Gamepad F710 (DirectInput Mode) -->
      axis_linear:
        x: 1
        y: 0
      scale_linear:
        x: 0.15
        y: 0.1
      scale_linear_turbo:
        x: 0.3
        y: 0.2

      axis_angular:
        yaw: 2
      scale_angular:
        yaw: 0.1
      scale_angular_turbo:
        yaw: 0.2

      enable_button: 4
      enable_turbo_button: 5
    </rosparam>
  </node>
</launch>
